<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
              <tr>
                <td style="">
                    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
              <tr>
                <td style="">
                     <span style="color: #333333; font: 15px Arial, sans-serif; line-height: 10px; -webkit-text-size-adjust:none; display: block;">
                         <h3>Проект «Конфаэль шоп»</h3>
                         <p>Итоги:</p>
                         <p>Всего тестов <b>0</b></p>
                         <p>Успешно завершено: <b style="color: #099e13;">0</b></p>
                         <p>Провалено: <b style="color: #a10a0a;">0</b></p>
                         <p>Проверенно страниц: <b>0</b> Недоступно: <b style="color: #a10a0a;">0</b></p>
                         <p>Список недоступных страниц и ошибок во вложении.</p>
                    </span>
                </td>
            </tr>
			<tr><td></br></td></tr>
            <tr>
				<td>
                <span style="color: #333333; font: 12px Arial, sans-serif; line-height: 10px; -webkit-text-size-adjust:none; display: block;">
                        
                </span>
				</td>
            </tr>
                  </table>
                </td>
              </tr>
            </table>