 <tbody class="{{ status_test }} results-table-row">
        <tr>
          <td class="col-result">{{ status_test_ru }}</td>
		  <td class="col-id">{{ id_test }}</td>
          <td class="col-name">{{ name_test }}</td>
          <td class="col-pname">{{ program_name }}</td>
          <td class="col-duration">{{ time }} сек.</td></tr></tbody>